.sketchbook {
    padding: 60px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto auto;
        justify-items: center;
    }

    &__content-title {
        display: block;
        text-decoration: none;
    }

    &__content-subtitle {
        margin: 20px 0 0 0;
        max-width: 500px;
    }

    &__content-btn {
        margin: 30px 0 0 0;
    }

    &__pfoto {
        max-width: 450px;
        grid-row: 1/2;

        &-img {
            width: 100%;
        }
    }

}